body{
    background-color: #ffeb3b1f;
    font-family: cursive;
}

header {
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0;
    background-color: #ff980094;
}

#divinfo{

    border-radius: 8px;
    text-align: justify;
    box-shadow: 0px 0px 30px #9e9e9e69;
    padding: 1rem;
    margin: 2rem;
}

#divinfo h1{
    text-align: center;
    text-decoration: underline;
}
.dbody{
    padding: 2rem;
}
.divimage {
    text-align: center;

}